
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>XÁC NHẬN ĐƠN HÀNG</h2>
<h4>ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC CHÚNG TÔI GHI NHẬN, chúng tôi sẽ liên hệ sau và giao hàng đúng hẹn</h4>
<p>
    @Html.ActionLink("Về Trang chủ", "Index", "NguyenHoangNam")
</p>

